!-------------------
! urxvt specific settings
!-------------------
URxvt.scrollBar: false
URxvt*.transparent: true
!URxvt*.background: [20]#000000
URxvt*.shading: 20
URxvt*depth: 32
URxvt.perl-ext-common:  default,matcher,url-select,keyboard-select
URxvt.urlLauncher:      /usr/bin/firefox
URxvt.matcher.button:   1

! -- open up to 10 recent links --
URxvt.keysym.C-Delete:  perl:matcher:last
URxvt.keysym.M-Delete:  perl:matcher:list
! -- select links with keyboard --
! press left alt + u to enter selection mode
! navigate with k, j, return - open link with browser
! and quit selection mode, o, open but not quit selection
! mode, y yank url and quit selection mode
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/firefox -new-tab
URxvt.url-select.underline: true

! -- color matching text in a blue --
URxvt.colorUL: #4682B4

! -- fonts
URxvt.font: xft:DejaVu Sans Mono:size=9

! -------------------
! global settings
! -------------------
*background: #3B3B3B
!*foreground: #acacab
*foreground: #a0a0a0
!-------------------
*color0: #050505
*color1: #e9897c
*color2: #b6377d
*color3: #ecebbe
*color4: #a9cdeb
*color5: #75507b
*color6: #c9caec
*color7: #f2f2f2
*color8: #141414
*color9: #f99286
*color10: #c3f786
*color11: #fcfbcc
*color12: #b6defb
*color13: #ad7fa8
*color14: #d7d9fc
*color15: #e2e2e2
